.divider {
  height: 1px;
  background-color: #e6e6e6;
}

.divider-dashed {
  border: 0.5px dashed #e6e6e6;
}

.subhead {
  font-family: arial;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.form-module {
  background: white;
  padding: 1.5rem 1rem;
  border-radius: 6px;
  margin-bottom: 24px;
  border: 1px solid $color-border;
}

.card-module {
  background: $white;
  border-radius: 6px;
}

.form-frame {
  max-width: 640px;
  margin: 0 auto;
}

.form-item {
  margin-bottom: 1.5rem;
}

.form-field {
  margin-bottom: 1.5rem;
}

.header-2 {
  font-weight: 500;
  font-size: 18px;
  color: #3E3F42;
  line-height: 28px;
  margin: 8px 0 11px;
}

.ar-1-1 {
  @include aspect-ratio(1, 1);
}

.clip-content {
  overflow: hidden;
}

.button-group {

  .button-item {
    display: inline-block;
    padding: 0 8px;
  }
}

.section-header {
  font-family: $poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #1e1f20;
}

.color-light-active {
  color: rgba($color: $white, $alpha: $alpha-active);
}

.form-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.text-body {
  font-size: 1rem;
  color: $color-primary-text;
  line-height: 1.5;
}

.background-surface {
  background-color: $color-surface;
}

.background-light {
  background-color: $white;
}