/* == IMPORTS == */
@import "./variables";

/* == FONT STYLES == */
@mixin header-1 {
  font-size: 2.25em;
  line-height: 1.2;
  color: $color-primary-text;
}

@mixin header-2 {
  font-size: 1.875em;
  line-height: 1.2;
  color: $color-primary-text;
}

@mixin header-3 {
  font-size: 1.625em;
  line-height: 1.2;
  color: $color-primary-text;
}

@mixin lead {
  font-size: 16px;
  color: $hunter-green;
}

@mixin subtle {
  font-size: 14px;
  color: $color-secondary-text;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  border-radius: 3px;
  overflow: hidden;
}

@mixin body {
  font-size: 14px;
  color: $hunter-green;
}

/** == BREAK POINTS == **/

@mixin phablet() {
  @media (min-width: #{$phablet-width}) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop() {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Aspect ratio
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  >.ar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
