/** == font family== **/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');


/** == alpha states == **/
$alpha-active: 0.87;
$alpha-inactive: 0.54;
$alpha-disabled: 0.38;

/** == utility colors == **/


$black-active: #202020;
$black-inactive: #727272;
$black-disabled: #9a9a9a;

$green: #48BB78;
$green-dark: #38A169;
$green-inactive: #7ddfc3;
$green-disabled: #d5f2ea;

$red: #f56565;
$red-inactive: #fdafbb;
$red-disabled: #fbe4e8;
$orange: #f77d05;
$blue: #1665d8;
$blue-inactive: #66b5f8;
$blue-disabled: #d5e9fa;
$violet: #6977ff;
$yellow: #facf55;
$yellow-inactive: #ffe29d;
$yellow-disabled: #FFF8E7;

$indigo: #6286ED;
$indigo-dark: #5C6AC4;

$grey: #a0aec0;
$grey-dark: #1A202C;
$grey-light: #f7fafc;

/** == content colors == **/
$color-primary-text: #4A5568;
$color-primary-headline: #1a051d;
$color-secondary-text: #6b6c6f;
$color-tertiary-text: #9ea0a5;
$color-border: #e2e8f0;

/** == theme colors == **/
// $color-surface: #f7f7f7;
$color-surface: #EFF3F6;

/** == break points == **/
$phone-width: 360px;
$phablet-width: 480px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;