$white: #ffffff;
$melon: #ff8256;
$soft-blue: #5699ff;
$black: #212121;
$coral-pink: #ef6a6e;
$brown-grey: #979797;
$cloudy-blue: #b0bac9;
$dark: #2e384d;
$clear-blue: #2e5bff;
$bluey-grey: #8798ad;
$black-87: rgba(0, 0, 0, 0.87);
$black-50: rgba(0, 0, 0, 0.87);
$pale-grey: #fafbfc;
$charcoal: #363837;
$brown-grey-two: #a8a8a8;
$light-periwinkle: #f0f1f4;
$hunter-green: #030f09;
$brownish-grey: #606060;

$green: #30be76;
$red: #f44336;

$font: Helvetica, Arial, sans-serif;
