@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p {
  margin: 0;
  padding: 0;
}